body{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: 'black_jack';
    src: url("../fonts/black_jack.ttf") format("truetype");       
}
@font-face{
	font-family: 'Proxima Nova Light';
    src: url("../fonts/ProximaNova-Light.otf") format('opentype') 
}
@font-face{
	font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular.ttf") format("truetype");
}
@font-face{
	font-family: 'Proxima Nova Bold';
    src: url("../fonts/proximanova-bold.otf") format('opentype') 
}
@font-face{
	font-family: 'Proxima Nova SemiBold';
    src: url("../fonts/proximanova-semibold.otf") format('opentype') 
}
@font-face{
	font-family: 'proximanova-regitalic';
    src: url("../fonts/proximanova-regitalic.otf") format('opentype') 
}

.clearfix:before,
.clearfix:after {

     content: "";
     display: table;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.wrapper-head{
	margin: 0 auto;
	width: 1260px;
	height: 652px;
	overflow: hidden;
	background: url(../img/header-bg.png) #63c2e7;

}
.content{
	width: 940px;
	margin: 0 auto;
}
.middlesection{
	width: 1260px;
	height: auto;
}
.rightlines{
	text-align: right;
}
.logo{
	float: left;
}
.rightlines a img{
	padding-top: 38px;
}
.toptitle h1{
	font: 70px/25px 'black_jack';

}
.toptitle h3{
	font: 35px/25px 'Proxima Nova Light';
}
.toptitle{
	margin-top: 137px;
	text-align: right;
	color: #ffffff;
}
.toptitle h3> span{
	font: 35px/25px 'Proxima Nova Bold';
	font-style: italic;

}
.button{
	font: 15px/25px 'ProximaNovaRegular';
	border: 2px solid white;
	padding-top: 12px;
	padding-left: 27px;
	padding-right: 60px;
	padding-bottom: 12px;
	text-transform: uppercase;
}
.buttons{
	position: relative;
}
a div.button:after{
	position: absolute;
	content: '';
	background: url(../img/cloudic.png) no-repeat;
	width: 20px;
	height: 20px;
	top: 20px;
	right: 30px;

	
}

a .button{
	float: right;
}
ul {
	list-style:none;

}
a, a:visited{
	color: white;
	text-decoration:none;
}
.iphone{
	float: left;
	margin-left: 70px;
	margin-top: 20px;
}
.longwindhead{
	width: 1260px;
	background: #f4f4f4;
	height: 650px;
	margin: 0 auto;
	overflow: hidden;
}
.ipad{
	float: right;
	margin-top: 150px;
}
.title{
	margin-top: 147px;
}
p.title{
	font: 40px/25px 'Proxima Nova Light', serif;
	color: #545454;
}
p.subtitle{
	font: 16px/25px 'ProximaNovaRegular', serif;
	color: #7e7e7e;
	margin-bottom: 19px;
}
.subtitle{
	width: 550px;
}
p.subtitlecurs{
	font: 16px/25px 'proximanova-regitalic', serif;
	font-style: italic;
	color: #7e7e7e;
	padding-left: 18px;
}
.subtitlecurs{
	border-left: 6px solid #4eacdd;
	width: 550px;
}
.hellobut{
	margin-top: 65px;
	position: relative;
	width: 170px;
}
.buttonhello{
	font: 15px/25px 'ProximaNovaRegular';
	color: #14af8f;
	border: 2px solid #14af8f;
	text-transform: uppercase;
	padding: 10px 30px 10px 20px;
}
a div.buttonhello:after{
	position: absolute;
	content: '';
	background: url(../img/hellobutton.png) no-repeat;
	width: 20px;
	height: 20px;
	top: 18px;
	left: 115px;

	
}
.middlesection{
	width: 1260px;
	height: 650px;
	background: white;
	overflow: hidden;
}
.appleelements{
	width: 762px;
	overflow: hidden;
	margin-right: auto;
}
.mac{
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	width: 470px;
	height: 300px;
	background: #474e5d;
	overflow: hidden;
	border: 1px solid #676d7a;

}
.macposition{
	position: relative;
	z-index: 1;
	top: 284px;
	right: -154px;
}
.circle{
	width: 8px;
	height: 8px;
	background: #a5a5a5;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-left: 20px;
    margin: 5px auto;

}
.mac>.screen{
	width: 430px;
	background: #70c6eb;
	height: 260px;
	margin-left: 18px;
	border: 1px solid #676d7a;
}
.niz{
	overflow: hidden;
	width: 470px;
	height: 44px;
	background: #e8ebf0;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}
.bottomcircle{
	width: 24px;
	height: 24px;
	margin: 10px auto;
	background: #474e5d;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.bottomholder{
	width: 470px;
	height: 50px;
	
}
img.holder{
	width: 160px;
	margin-left: 155px;
}
.retina{
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	margin-left: 200px;
	width: 320px;
	height: 220px;
	background: #474e5d;
	overflow: hidden;
	border: 1px solid #676d7a;
}
.retinaposition{
	z-index: 2;
	position: relative;
	top: 90px;
	right: 38px;

}
210
right: 248px;

.retina>.circle{
	width: 4px;
	height: 4px;
	background: #a5a5a5;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-left: 20px;
    margin: 5px auto;
}
.retina>.screen{
	width: 298px;
	background: #f79231;
	height: 186px;
	margin-left: 18px;
	border: 1px solid #676d7a;
	margin: 0 auto;
}
.bottomretina{
	width: 394px;
	margin-left: 160px;
}
.ipadbottomposition{
	position: relative;
	z-index: 3;
	bottom: 200px;
	left: 660px;
}
.ipadbottom{
	width: 175px;
	height: 246px;
	background: #474e5d;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border: 1px solid #676d7a;
	
}
.circleipad{
	width: 3px;
	height: 3px;
	margin: 5px auto;
	background: #a5a5a5;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.screenipad{
	border: 1px solid #676d7a;
	width: 150px;
	height: 200px;
	background: #fee9a3;
	border: 1px solid #676d7a;
	margin: 0 auto;

}
.bottomipad>.bottomcircle{
	width: 13px;
	height: 13px;
	background: #f6f6f6;
}
.ipadminiposition{
	z-index: 4;
	position: relative;
	bottom: 380px;
	left: 850px;

}

.ipadminibottom{
	width: 120px;
	height: 170px;
	background: #474e5d;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border: 1px solid #676d7a;
	
}
.screenipadmini{
	border: 1px solid #676d7a;
	width: 105px;
	height: 138px;
	background: #39dcc9;
	margin: 0 auto;

}
.bottomcirclemini{
	overflow: hidden;
	width: 8px;
	height: 8px;
	background: #f6f6f6;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
	margin: 4px auto;
}
.iphonebottomposition{
	z-index: 5;
	position: relative;
	width: 73px;
	bottom: 522px;
	left: 800px;
}
.iphonebottom{

	width: 75px;
	height: 160px;
	background: #474e5d;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border: 1px solid #676d7a;

}
.circleiphone{
	width: 3px;
	height: 3px;
	margin: auto;
	background: #a5a5a5;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-top: 6px;
}
.ipline{
	margin: 5px auto;
	display: block;
	width: 15px;
	height: 3px;
	
	background: #a5a4a4;
	-webkit-border-top-right-radius: 1px;
	-webkit-border-top-left-radius: 1px;
	-webkit-border-bottom-right-radius: 1px;
	-webkit-border-bottom-left-radius: 1px;
}
.screeniphone{
	width: 67px;
	height: 114px;
	background: #f3787a;
	margin: 0 auto;
	border: 1px solid #676d7a;
	margin-top: 5px;
}
.bottomcircleip{
	width: 16px;
	height: 16px;
	background: #f6f6f6;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 3px auto;
    
}
.columndog{
	z-index: 6;
	position: relative;
	margin-left: auto;
	width: 366px;
	bottom: 1200px;
	left: 180px;
}
h5.getdog{
	font: 40px/25px 'Proxima Nova Light', serif;
	color: #545454;
}
p.columndogsubttop{
	font: 15px/25px 'Proxima Nova SemiBold', serif;
	font-style: italic;
	color: #474e5d;
}
p.columndogsubtbot{
	font: 15px/25px 'ProximaNovaRegular', serif;
	color: #7e7e7e;

}
a div.coldoglink{
	width: 225px;
	padding: 12px 22px;
	font: 15px/25px 'ProximaNovaRegular', serif;
	text-transform: uppercase;
	color: #ea4c89;
	border: 2px solid #ea4c89;
	text-align: center;
}
  div.coldoglink:after{
 	display: inline-block;
 	position: relative;
 	top: 9px;
 	left: 15px;
	content: '';
	background: url(../img/dribbble-icon.png) no-repeat;
	width: 20px;
	height: 20px;
}
.salesection{
	background: url(../img/salebg.png) no-repeat #13c1ac;
	width: 1260px;
	margin: 0 auto;
	padding-bottom: 100px;
}
.saletitle{
	font: 40px 'ProximaNovaRegular', serif;
	color: #ffffff;
	text-align: center;
	margin: 0;
	padding-top: 100px;
}
.salebut{
	
	width: 220px;
	margin:  0 auto;
}
a div.saleelement{
	text-align: center;
	font: 15px 'ProximaNovaRegular', serif;
	color: #fffefe;
	text-transform: uppercase;
	padding: 20px 35px;
	border: 2px solid #ffffff;
	margin-top: 20px;
}
span.beer{
	font: 15px 'Proxima Nova Bold';
	font-style: italic;
	color: #fffefe;
}
.saleelement:after{
	display: inline-block;
 	position: relative;
 	top: 9px;
 	left: 15px;
	content: '';
	background: url(../img/beer-icon.png) no-repeat;
	width: 20px;
	height: 20px;
}
.footer{
	background: #f4f4f4;
	width: 1260px;
	margin: 0 auto;
}
.sprite a{
	display: inline-block;
	width: 56px;
	height: 56px;
	margin: 0 3px;
	border: 3px solid #545454;
	border-radius: 50%;
	background: url(../img/social-sprite.png) no-repeat;
}
.sprite{
	text-align: center;
	padding-top: 242px;
}
.sprite a.ic-fb{
	background-position: -56px 0;
}
.sprite a.ic-tw{
	background-position: -112px 0;
}
.sprite a.ic-pl{
	background-position: -168px 0;
}
.newssub{
	width: 500px;
	margin: auto;
	padding-bottom: 240px;
}
form{
	padding-top: 20px;
	width: 200px;
	margin-left:auto;
}
#email input[type="text"]{
	float: right;
	padding: 15px 80px 15px 15px;
	border-radius: 10px;
	box-shadow: none;
	border: none;
	font: 14px 'Proxima Nova SemiBold', serif;
	font-style: italic;
	color: #d3d3d3;
	resize: none;
	vertical-align: middle;
	width: 180px;
	z-index: 1;


}

input:focus {
    outline:none;
}
.subscribe{
	margin-left: 15px;
	float: left;
	font: 16px'Proxima Nova SemiBold', serif;
	font-style: italic;
	color: #545454;
	padding-top: 17px;
	padding-bottom: 14px;
	
}
.pole{
	width: 222px;
	min-height: 40px
}
input[type="submit"] {
    width: 20px; 
    height: 20px; 
    border: none; 
    position: relative;
    background: url(../img/iconemail.png) no-repeat;
    bottom: 30px;
    left: 180px;
    cursor: pointer;
    z-index: 2;
   }
   .toplink{

	
   }
 .toplink{
	margin-left: auto;
   	width: 40px;
   	height: 40px;
  	background-color: #f4f4f4;
   	margin-right: 60px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	position: relative;
	bottom: 40px;
	margin-top: 5px;
}
   .footerbottom{
   	width: 1260px;
   	margin: 0 auto;
   	
   }
   .copyright{
   	text-align: center;
   	font: 12px 'proximanova-regitalic', serif;
   	color: #545454;
   	padding-top: 50px;

   }
   .wordpert{
   	font: 12px 'ProximaNovaRegular', serif;
   	color: #6dc5ea;
   }
   .toplink img{
   	margin-top: 15px;
   	margin-left: 13px;
   }
 
 